body {
  margin:0;
  font-family: Arial;
  background:#f4f6f9;
}

.header {
  position: sticky;
  top:0;
  display:flex;
  justify-content:space-between;
  padding:15px 30px;
  background:#0a2540;
  color:white;
}

.header a {
  color:white;
  margin-left:15px;
  text-decoration:none;
}

.hero {
  text-align:center;
  padding:80px 20px;
  background:#1d4ed8;
  color:white;
}

.btn {
  display:inline-block;
  margin-top:20px;
  padding:10px 20px;
  background:white;
  color:#1d4ed8;
  text-decoration:none;
  border-radius:5px;
}

section {
  padding:50px;
  text-align:center;
}

.services {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:20px;
}

.card {
  background:white;
  padding:20px;
  width:220px;
  border-radius:10px;
  box-shadow:0 2px 8px rgba(0,0,0,0.1);
  transition:0.3s;
}

.card:hover {
  transform:translateY(-5px);
}

.clients {
  display:flex;
  justify-content:center;
  gap:30px;
}

.client {
  background:#fff;
  padding:15px;
  border-radius:8px;
}

.tech {
  background:#eef2ff;
}

.contact form {
  max-width:400px;
  margin:auto;
  display:flex;
  flex-direction:column;
  gap:10px;
}

input, textarea {
  padding:10px;
  border:1px solid #ccc;
  border-radius:5px;
}

button {
  background:#1d4ed8;
  color:white;
  border:none;
  padding:10px;
  border-radius:5px;
  cursor:pointer;
}

footer {
  background:#0a2540;
  color:white;
  padding:20px;
}